@page
@model Edap.Pages.Polls.CreateModel

@{
    ViewData["Title"] = "Create poll";
}

@section scripts{
   <partial name="_ValidationScriptsPartial" />
}

<h1>Create a poll</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Poll.Title"></label>
        <input type="text" asp-for="Poll.Title" class="form-control" />
        <span asp-validation-for="Poll.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Poll.Description"></label>
        <input type="text" asp-for="Poll.Description" class="form-control" />
        <span asp-validation-for="Poll.Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Poll.Location"></label>
        <input type="text" asp-for="Poll.Location" class="form-control" />
        <span asp-validation-for="Poll.Location" class="text-danger"></span>
    </div>
    
    <h5>Add poll options</h5>
    <div class="form-group">
        <label for="fromDate">From</label>
        <input id="fromDate" type="date" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label for="toDate">To</label>
        <input id="toDate" type="date" class="form-control" />
    </div>
    <button type="button" class="btn btn-outline-primary btn-sm mb-3" onclick="addOptions()">Add options</button>
    
    <h5>Poll options</h5>
    <div id="option-container">
    </div>

    <button type="submit" class="btn btn-primary btn-sm mt-2 mb-2">Create</button>
    <partial name="_BackToListButton" />
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const fromDateCtl = document.getElementById("fromDate");
        const toDateCtl = document.getElementById("toDate");
        
        // Set initial value
        const currentDate = new Date();
        fromDateCtl.valueAsDate = currentDate;
        toDateCtl.valueAsDate = currentDate;

        fromDateCtl.addEventListener("change", () => {
            const fromDate = fromDateCtl.valueAsDate;
            const toDate = toDateCtl.valueAsDate;

            if (toDate < fromDate)
                toDateCtl.value = fromDateCtl.value;
        });
    });
    
    function addOptions() {
        const fromDate = document.getElementById("fromDate").valueAsDate;
        const toDate = document.getElementById("toDate").valueAsDate;
        
        let existingValues = $("#option-container > div >  input")
            .map((_i, option) => option.valueAsDate.toString())
            .get();
        
        for (let currentDate = fromDate; currentDate <= toDate; currentDate.setDate(currentDate.getDate() + 1)) {
            if (!existingValues.includes(currentDate.toString()))
                addOption(currentDate);
        }
        
        reorderPollOptions();
    }

    function addOption(value) {
        const container = document.createElement("div");
        container.className = "poll-option d-flex mb-1";

        const input = document.createElement("input");
        input.className = "form-control";
        input.name = "PollOptionDates";
        input.type = "date";
        input.valueAsDate = value;
        input.addEventListener("change", reorderPollOptions);
        container.append(input);

        const delButton = document.createElement("button");
        delButton.className = "btn btn-outline-danger btn-sm ms-1";
        delButton.textContent = "Remove";
        delButton.type = "button";
        delButton.addEventListener("click", () => container.remove());
        container.append(delButton);
        
        document.getElementById("option-container").append(container);
    }
    
    function reorderPollOptions() {
        $("#option-container div").sort((a, b) => {
            const dateA = a.childNodes[0].valueAsDate;
            const dateB = b.childNodes[0].valueAsDate;

            return dateA - dateB;
        }).appendTo($("#option-container"));
    }
</script>